<section class="d-flex flex-column align-items-center">
    <h1>Welcome to meal planner</h1>
    <p>The one stop shop for allyour meal planning needs</p>
    <a class="btn" href="/register"> Get started now!</a>
</section>








{{!-- 
<h1>Landing {{username}}</h1>

<div class="d-flex flex-wrap">       
{{#if something}} 
    {{#each notes}}
    <div class="card">
        <p>Title: {{this.title}}</p>
        <p>Text: {{this.text}}</p>
    </div>
    <hr>
    {{/each}}
{{else}} 
    Not passed 
    {{/if}}

</div> --}}